.nav-bar {
    display: flex;
    /* text-align: center;
    justify-content: center; */
}

li {
    display: flex;
    margin-left: 20px;
    font-size: larger;
    font-weight: bolder;
    border: solid 3px black;
    padding: 10px;
    border-radius: 20px;
    background-color:burlywood;
    color: black;
    justify-items: center;
}

li:hover {
    background-color: aqua;
}

a {
    text-decoration: none;
}